html {
  height: 100%;
  width: 100%;
  margin:0;
}
body {
  /*background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;*/
  font-family: 'Open Sans', sans-serif;
  margin:0;
  cursor: url('img/crosshair.png') 25 25, default;
  height: 100%;
  width: 100%;
}
body.ws-error {
  background-color: #FFEEEE;
}

.addition {
  text-align:center;
  /* vertcal center */
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  height:100px;
  /* Text */
  font-size: 100px;
}
.addition.correct {
  color: #0f0;
}

.target {
  background-image: url('img/target.png');
  background-size: contain;
  width:128px;
  height:128px;
  position:absolute;
}

@-webkit-keyframes target-dismissal {
  0% { -webkit-transform: scale(1,1); }
  10% { -webkit-transform: scale(1.2, 1.2); }
  100% { -webkit-transform: scale(0,0); }
}
.target.dismissed {
  -webkit-animation-name: target-dismissal;
  -webkit-animation-duration: 0.2s;
  /* to stay at small scale at end of animation */
  -webkit-transform: scale(0,0);
}

@-webkit-keyframes target-timeout {
  from { -webkit-opacity: 1; }
  to { -webkit-opacity: 0; }
}
.target.timeout {
  -webkit-animation-name: target-timeout;
  -webkit-animation-duration: 0.2s;
  -webkit-opacity: 0;
}

@-webkit-keyframes shoot-animation {
  from { -webkit-transform: rotate(45deg) scale(1,1); }
  to { -webkit-transform: rotate(45deg) scale(0,0); }
}

.shot {
  width: 40px;
  height: 40px;
  background-image: url('img/crosshair.png');
  background-size: contain;
  -webkit-transform: rotate(45deg) scale(0,0);
  position: absolute;
  -webkit-animation-name: shoot-animation;
  -webkit-animation-duration: 0.5s;
}

.score {
  position:absolute;
  top:0px;
  right:0px;
  font-size: 28px;
  color: black;
}

@-webkit-keyframes score-increase {
  from { color: #0f0 }
  to { color: black; }
}
.increase {
  -webkit-animation-name: score-increase;
  /* TODO if this changes, change timer in score setter in TaskController */
  -webkit-animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-in;
}
@-webkit-keyframes score-decrease {
  from { color: #f00; }
  to { color: black; }
}
.decrease {
  -webkit-animation-name: score-decrease;
  /* TODO if this changes, change timer in score setter in TaskController */
  -webkit-animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-out
}




/* Settings div */
.settings {
  cursor: default;
  margin: 15px;
}
.settings label {
  margin-left: 15px;
}


/* NASA-TLX div */
.nasa-tlx {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}
.nasa-tlx .tlx-section {
  margin-top: 40px;
}
.nasa-tlx .tlx-section-desc {
  float: right;
}
.nasa-tlx input {
  width: 100%;
  margin-top:30px;
}
.nasa-tlx .tlx-high-label {
  float: right;
}
.nasa-tlx .tlx-button-div {
  text-align:center;
}