html {
  height: 100%;
  width: 100%;
  margin:0;
}
body {
  /*background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;*/
  font-family: 'Open Sans', sans-serif;
  margin:0;
  cursor: url('img/crosshair.png') 25 25, default;
  height: 100%;
  width: 100%;
}

.addition {
  text-align:center;
  /* vertcal center */
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  height:100px;
  /* Text */
  font-size: 60px;
}

.target {
  background-image: url('img/target.png');
  background-size: contain;
  width:128px;
  height:128px;
  position:absolute;
  -webkit-transition: -webkit-transform 0.2s linear;
}

.target.dismissed {
  -webkit-transform: scale(0,0);
}

.score {
  position:absolute;
  top:0px;
  right:0px;
  font-size: 28px;
}

