html {
  height: 100%;
  width: 100%;
}
body {
  /*background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;*/
  cursor: url('img/crosshair.png') 25 25, default;
  height: 100%;
  width: 100%;
}

.target {
  background-image: url('img/target.png');
  background-size: contain;
  width:128px;
  height:128px;
  position:absolute;
}

.score {
  position:absolute;
  top:0px;
  right:0px;
  font-size: 28px;
}